In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
from google.colab import files
uploaded = files.upload()
df = pd.read_csv('AB_NYC_2019.csv')

Saving AB_NYC_2019.csv to AB_NYC_2019.csv

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [5]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [6]:
df['price'].between(10, 1000).all()

False

***Data Integrity***

In [7]:
# Accuracy: Data Types
print("Data Types:\n", df.dtypes)
# Accuracy: Valid Range Checks
df['latitude'].between(-90, 90).all() and df['longitude'].between(-180, 180).all()
# Price should be non-negative
(df['price'] >= 0).all()
# Availability should be between 0 and 365
df['availability_365'].between(0, 365).all()

Data Types:
 id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

True

In [8]:
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")
df['host_name'] = df['host_name'].str.strip().str.title()

Number of duplicate rows: 0

In [9]:
missing_data = df.isnull().sum()
print("Missing Values in Each Column:\n", missing_data)
df['id'].is_unique

Missing Values in Each Column:
 id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

True

***Missing Data Handling***

In [10]:
df = df.dropna(axis=1, thresh=int(0.5 * len(df)))
df = df.dropna()

1.Impute Missing Values with Mean (for Numerical Data)

In [11]:
df['price'] = df['price'].fillna(df['price'].mean())
df['minimum_nights'] = df['minimum_nights'].fillna(df['minimum_nights'].mean())
df['reviews_per_month'] = df['reviews_per_month'].fillna(df['reviews_per_month'].mean())

2.Impute Missing Values with Median (for Numerical Data)

In [12]:
df['number_of_reviews'] = df['number_of_reviews'].fillna(df['number_of_reviews'].median())
df['availability_365'] = df['availability_365'].fillna(df['availability_365'].median())
df['calculated_host_listings_count'] = df['calculated_host_listings_count'].fillna(df['calculated_host_listings_count'].median())

3.Impute Missing Values with Mode (for Categorical Data)

In [13]:
df['room_type'] = df['room_type'].fillna(df['room_type'].mode()[0])
df['neighbourhood_group'] = df['neighbourhood_group'].fillna(df['neighbourhood_group'].mode()[0])
df['neighbourhood'] = df['neighbourhood'].fillna(df['neighbourhood'].mode()[0])

4.Impute Missing Values with a Specific Value

In [14]:
df['name'] = df['name'].fillna('Unknown')
df['host_name'] = df['host_name'].fillna('Unknown')

In [15]:
# Final check for missing values
print(df.isnull().sum())

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

***Duplicate Removal***

In [16]:
# Identify duplicate records
duplicates = df[df.duplicated()]
df = df.drop_duplicates()

In [17]:
# Verify that duplicates have been removed
if df.duplicated().sum() == 0:
    print("All duplicate records have been successfully removed.")
else:
    print(f"There are still {df.duplicated().sum()} duplicate records remaining.")

All duplicate records have been successfully removed.

***Standardization***

In [18]:
# Convert 'last_review' to a standard datetime format
df['last_review'] = pd.to_datetime(df['last_review'], format='%Y-%m-%d')

# Optionally, extract specific components (year, month, day)
df['year'] = df['last_review'].dt.year
df['month'] = df['last_review'].dt.month
df['day'] = df['last_review'].dt.day

In [20]:
conversion_rate = 1.1
df.columns
df['price_usd'] = df['price'] * conversion_rate

In [19]:
# Convert column names to snake_case
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [21]:
# Example: Ensure that latitude and longitude are within valid ranges
df['latitude'].between(-90, 90).all() and df['longitude'].between(-180, 180).all()

True

***Outlier Detection***

In [23]:
#using interquartile range
Q1 = df['minimum_nights'].quantile(0.25)
Q3 = df['minimum_nights'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['minimum_nights'] < lower_bound) | (df['minimum_nights'] > upper_bound)]
print(f"Number of outliers detected in 'minimum_nights': {len(outliers)}")

Number of outliers detected in 'minimum_nights': 4462

In [24]:
#removing outliers
df = df[(df['minimum_nights'] >= lower_bound) & (df['minimum_nights'] <= upper_bound)]

In [25]:
#cap outliers
df['minimum_nights'] = df['minimum_nights'].clip(lower=lower_bound, upper=upper_bound)

In [26]:
# Apply a logarithmic transformation to reduce the impact of outliers
df['minimum_nights'] = np.log1p(df['minimum_nights'])

In [27]:
# Verify no extreme outliers remain
print(df['minimum_nights'].describe())

count    34359.000000
mean         1.188937
std          0.409178
min          0.693147
25%          0.693147
50%          1.098612
75%          1.386294
max          2.197225
Name: minimum_nights, dtype: float64

In [29]:
# other numerical columns to check the outliers
columns_to_check = ['price', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']
non_outliers_mask = pd.Series([True] * len(df))
for column in columns_to_check:
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    # Define the bounds for outliers
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    non_outliers_mask = non_outliers_mask & (df[column] >= lower_bound) & (df[column] <= upper_bound)
#applying mask to remove ootliers
df_cleaned = df[non_outliers_mask]
rows_removed = len(df) - len(df_cleaned)
print(f"Number of outliers removed: {rows_removed}")

Number of outliers removed: 15454

<ipython-input-29-32c0bfc7d1d2>:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_cleaned = df[non_outliers_mask]

***Project Summary:***

- The data cleaning process involved ensuring data integrity, handling missing values, removing duplicates, standardizing formats and units, and addressing outliers.
- As a result of these steps, the dataset is now accurate, consistent, and ready for further analysis or model building.
- Any potential issues, such as outliers or missing data, have been appropriately managed, ensuring the reliability of future analysis.